<body>

 <header class="main-header">
  {% if resume.head %}
   {{ resume.head.render()|safe }}
  {% endif %}
 </header>

 <section class="experience">
  {% if resume.experience %}
   {{ resume.experience.render()|safe }}
  {% endif %}
 </section>

 <section class="skills">
  {% if resume.skills %}
   {{ resume.skills.render()|safe }}
  {% endif %}
 </section>

 <section class="projects">
  {% if resume.projects %}
   {{ resume.projects.render()|safe }}
  {% endif %}
 </section>

 <section class="education">
  {% if resume.education %}
   {{ resume.education.render()|safe }}
  {% endif %}
 </section>

<section class="awards">
  {% if resume.awards %}
   {{ resume.awards.render()|safe }}
  {% endif %}
</section>

</body>
