<body>

 <header id="main-header">
  {% if resume.head %}
   {{ resume.head.render()|safe }}
  {% endif %}
 </header>

 <section id="experience">
  {% if resume.experience %}
   {{ resume.experience.render()|safe }}
  {% endif %}
 </section>

 <section id="skills">
  {% if resume.skills %}
   {{ resume.skills.render()|safe }}
  {% endif %}
 </section>

 <section id="projects">
  {% if resume.projects %}
   {{ resume.projects.render()|safe }}
  {% endif %}
 </section>

 <section id="education">
  {% if resume.education %}
   {{ resume.education.render()|safe }}
  {% endif %}
 </section>

<section id="awards">
  {% if resume.awards %}
   {{ resume.awards.render()|safe }}
  {% endif %}
</section>

</body>
