.main-header {
  background: var(--header-background-color);
  color: var(--header-text-color);
  text-shadow: 3px 3px var(--header-text-shadow-color);
  height: 160px;
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid black;
}

.main-header .name {
  font-size: 32px;
}

.header-box.main-title {
  flex: 1 1 40%;
  padding-left: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.main-header .title {
  font-size: 22px;
}

.main-header .name, .title {
  width: 100%;
  padding: 0;
  margin: 0;

  flex: 1 1 50%;

  white-space: nowrap;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.header-box {
  flex: 1 1 30%;
  height: 100%;

  display: flex;
  flex-direction: column;

  justify-content: space-around;
  align-items: justify;
}

.header-box ul {
  width: 100%;
  margin-top: 10px;
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: justify;
}

.header-box li {
  font-size: 18px;
}

.header-box a {
  text-decoration: none;
  color: var(--header-text-color)
}
