/* .main-header {
 background-color: var(--section-background-color, white);
 color: var(--section-text-color, black);

 display: flex;
 flex-direction: row;

 margin: 0px;
 padding: 0;
}

.main-header .header-box {
  flex: 1 1 25%;
  height: 100%;
}

.main-header .name-title {
  flex: 1 1 30%;

  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: stretch;
}

.main-header .header-box ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-header .header-box li {
  flex: 1 1;
  justify-content: top;
  align-items
}

.main-header h1 {
  flex: 1 1 40px;
  font-size: 40px;
  padding: 0;
}

.main-header h2 {
  flex: 1 1 30px;
  font-size: 30px;
  padding: 0;
}

.main-header {
  font-size: 18px;
}

.main-header a {
  text-decoration: none;
  color: var(--section-text-color)
} */
