.main-header {
  background: var(--header-background-color);
  color: var(--header-text-color);
  text-shadow: 3px 3px var(--header-text-shadow-color);
  height: 160px;
  display: flex;
  border-radius: 10px;
  border-bottom: 20px solid var(--secondary-color);
}

.main-header .name {
  font-size: 60px;
}

.main-header .title {
  font-size: 30px;
}

.main-header .name, .title {
  letter-spacing: 0.05em;
}

.header-box.main-title {
  flex-grow: 3.14;
  padding-left: 10px;
  justify-content: center;
  align-items: center;
}

.header-box {
  flex-grow: 1;
  height: 100%;

  display: flex;
  flex-direction: column;

  justify-content: space-around;
  align-items: justify;
}

.header-box ul {
  width: 100%;
  margin-top: 10px;
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: justify;
}

.header-box li {
  font-size: 20px;
}

.header-box a {
  text-decoration: none;
  color: var(--header-text-color)
}
