 @page {
  size: A3;
  margin: 2cm;
}

:root {
  --main-background-color: #f2f3f5;
  --text-color: #141414;
  --header-background-color: blue;
  --header-text-color: white;
  --header-text-shadow-color: black;
  --secondary-color: red;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lora', serif;
  background-color: var(--main-background-color, white);

}

ul {
  list-style: none;
}
