 @page {
  size: A2;
  margin: 1.5cm;
}

:root {
  --main-background-color: white;;
  --text-color: black;
  --header-background-color: white;
  --header-text-color: black;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lora', serif;
  background-color: var(--main-background-color, white);

}

ul {
  list-style: none;
}

.main-section {
  border: 2px solid var(--header-background-color);
  border-radius: 5px;
}

.section-header {
  background: var(--header-background-color);
  color: var(--header-text-color);
  width: 100%;
  min-height: 75px;
  font-size: 26px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-body {
  background: var(--main-background-color);
  color: var(--main-text-color);
  width: 100%;
}

/* layout*/
.flex-container {
  display: flex;
  flex-direction: column;
}

.main-header {
  flex: 1 1 175px;
}

.content {
  flex: 10 1 auto;

  display: flex;
  flex-direction: row;
}

.left-column {

  flex: 1 1 33%;
}

.right-column {
  flex: 1 1 66%;
}
