@page {
  size: A3;
  margin: 0cm;
}

:root {
  --main-background-color: #f2f3f5;
  --text-color: #141414;
  --section-background-color: #053075;
  --section-text-color: #f2f3f5;
}

body {
  font-family: 'Lora', serif;
  background-color: var(--main-background-color, white);

  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
}

header {
  flex: 0 0 300px;
  order: 1;
}

section {
  flex: 1 1 300px;
}
